.glossary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  &__typography-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__word {
    color: var(--darker-gray);
    font-size: 64px;
    font-weight: 700;

    @media screen and (max-width: 600px) {
      font-size: 32px;
    }
  }

  &__phonetic {
    color: var(--purple-magic);
    font-size: 24px;
    font-weight: 400;

    @media screen and (max-width: 600px) {
      font-size: 18px;
    }
  }

  &__play-button {
    border: none;
    background-color: transparent;
    cursor: pointer;

    & > svg {
      @media screen and (max-width: 600px) {
        width: 48px;
        height: 48px;
      }
    }

    & > svg > g > circle,
    & > svg > g > path {
      transition: all 250ms ease-out;
    }

    &:hover {
      & > svg > g > circle {
        opacity: 100%;
      }

      & > svg > g > path {
        fill: var(--white);
      }
    }
  }
}
