.theme-mode {
  display: flex;
  gap: 20px;
  align-items: center;
  border-left: 1px solid var(--lighter-gray);
  padding-left: 20px;
  height: 32px;

  @media screen and (max-width: 600px) {
    gap: 12px;
    padding-left: 15px;
  }

  &__toggle {
    display: flex;
    border-radius: 20px;
    width: 40px;
    height: 20px;
    background-color: var(--medium-gray);
    align-items: center;
    padding: 3px;
    cursor: pointer;
    transition: background-color 250ms ease-out;

    &--is-toggled {
      background-color: var(--purple-magic);
    }
  }

  &__toggle-circle {
    background-color: var(--white);
    width: 14px;
    height: 14px;
    border-radius: 100%;
    transition: transform 200ms ease-out;

    &--is-toggled {
      transform: translateX(20px);
    }
  }

  &__moon-icon {
    cursor: pointer;
    transition: stroke 200ms ease-out;

    &--is-toggled > path {
      stroke: var(--purple-magic);
    }
  }
}
