.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__settings {
    display: flex;
    gap: 20px;
    align-items: center;

    @media screen and (max-width: 600px) {
      gap: 15px;
    }
  }
}
