@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lora:wght@400;500;600;700&display=swap");

// Colors
:root {
  --main-text-color: #2d2d2d;
  --secondary-text-color: #f4f4f4;
  --lighter-gray: #e9e9e9;
  --medium-gray: #757575;
  --dark-gray: #3a3a3a;
  --bg-color: #ffffff;
  --almost-black: #050505;
  --warning-red: #ff5252;
  --purple-magic: #a445ed;
  --white: #ffffff;
  --paper: #ffffff;
  --box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
}

[data-theme-mode="dark"] {
  --main-text-color: #ffffff;
  --secondary-text-color: #1f1f1f;
  --bg-color: #050505;
  --paper: #1f1f1f;
  --box-shadow: 0px 5px 30px 0px #a445ed;
}

[data-theme-mode="light"] {
  --main-text-color: #2d2d2d;
  --secondary-text-color: #f4f4f4;
  --bg-color: #ffffff;
  --paper: #ffffff;
  --box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-text-color: #ffffff;
    --secondary-text-color: #1f1f1f;
    --bg-color: #050505;
    --paper: #1f1f1f;
    --box-shadow: 0px 5px 30px 0px #a445ed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: color, background-color 200ms ease-out;
}

body {
  max-width: 1000px;
  margin: 50px auto;
  padding: 0 35px;
  min-width: 280px;
  background-color: var(--bg-color);

  @media screen and (max-width: 600px) {
    padding: 0 25px;
  }

  @media screen and (max-width: 330px) {
    padding: 0 5px;
  }
}

button,
input {
  font-family: inherit;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}
